body {
  margin: 0;
  padding: 40px 0;
  background-color: #f5f5f5;

  display: flex;
  justify-content: center;
  align-items: flex-start;

  font-family: Arial, sans-serif;
}

.resume {
  width: 700px;
  background: white;
  padding: 50px 60px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

.top-line {
  border-top: 2px solid #333;
  margin-bottom: 30px;
}

.name {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 5px;
}

.title {
  color: #2e8b57;
  font-size: 18px;
  margin-bottom: 25px;
}

.skills,
.education,
.experience {
  color: #2e8b57;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
}

.highlight {
  color: #1e63b5;
  font-weight: bold;
}

ul {
  padding-left: 20px;
  margin-top: 5px;
}
p {
  margin: 4px 0;
}
.links {
  margin-top: 25px;
}
